
:root {
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Josefin Sans', sans-serif;
    --color-one: #062925;
    --color-two: #044a42;
    --color-three: #3a9188;
    --color-four: 184, 225, 221;
}

body .wrapper{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav {
    width: 100vw;
    z-index: 10;
}

.navbar {
    background-color: var(--color-one);
}

.wrapper {
    height: 100vh;
    width: 100%;
    top: 0;
    position: relative;
    display: table;
}

.img-area {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}


.wrapper h2{
    color: var(--color-one);
    text-align: center;
    font-size: 75px;
    font-family: poppins;  
    position: relative;
    z-index: 4;
    letter-spacing: 2px;
}

.wrapper .mainpagelogo {
    width: 60%;
}

.welcome-sign {
    display: block;
    margin: 0 auto;
    background-color: rgba(var(--color-four), 0.5);
    width: 50%;
    padding: 20px 40px;
    border-radius: 10px;
}

.wrapper .mainbutton {
    background-color: var(--color-one);
    color: rgba(var(--color-four));
    opacity: 100%;
    margin-top: 20px;
    position: relative;
    z-index: 4;
}

.wrapper .mainbutton:hover {
    background-color: rgba(var(--color-four));
    color: var(--color-one);
    border: 1px solid var(--color-one);
}


.single-img {
    background-image: url("/images/page3_1.jpg");
    background-repeat: no-repeat;
    background-position: 50%;
    -webkit-background-size: cover;
    animation: animate ease-in-out 40s 0s infinite;
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0; 
    z-index: -4; 
}
.herologo {
    width: 40vw;
}

.workpagehero {
    background-color: rgba(var(--color-four));
}

.workpagehero h1 {
    text-align: center;
    padding-top: 150px;
    padding-bottom: 50px;
}

.card {
    margin-top: 20px;
    background-color: var(--color-three);
    border: 2px solid var(--color-one);
    color: var(--color-one);
}

/*
.card-img-top{
    width: 100%;
}
*/

.sideshowbox{
    display: block;
    margin: 0 auto;
    width: 40%;
    border: 4px solid var(--color-one);
    color: var(--color-one);
}

@keyframes animate {
    15%{
        transform: scale(2);
        filter: blur(3px);
    }
    30% {
        transform: scale(1);
        filter: blur(0);
        background-image: url("/images/Luciferins_triggeredConfetti_med2.jpg");
    }
    85% {
        transform: scale(2);
        filter: blur(3px);
    }
    15% {
        transform: scale(1);
        background-image: url("/images/page3_1.jpg");
    }
}



@media screen and (max-width: 900px) {



    .welcome-sign {
        display: block;
        margin: 0 auto;
        background-color: rgba(var(--color-four), 0.5);
        width: 85%;
        padding: 20px 40px;
        border-radius: 10px;
    }
    .wrapper .mainpagelogo {
        width: 95%;
    }

    .wrapper h4{
        font-size: 16px;
    }
}


